.add-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.add-task-modal {
  max-width: 500px;
  height: 350px;
  margin: 200px auto;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;

  background-color: var(--background);
}

/* dark theme for add task modal */

.add-task-modal-dark {
  max-width: 500px;
  height: 350px;
  margin: 200px auto;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;

  background-color: #354259;
}

.add-task-modal-heading {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.add-task-modal-form {
  margin: 10px 0;
}

.add-task-input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 420px;
  color: gray;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}

.add-task-categories {
  margin-bottom: 20px;
  padding: 20px;
}

.add-task-categories .add-task-categories-input {
  margin-bottom: 10px;
}

.add-task-categories .add-task-categories-input label {
  margin-left: 10px;
  cursor: pointer;
}

.add-task-modal-form button {
  color: #278d8c;
  background-color: #fff;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .add-task-modal {
    max-width: 300px;
    margin: 150px auto;
  }

  .add-task-modal-dark {
    max-width: 300px;
    margin: 150px auto;
  }

  .add-task-modal-form .add-task-input {
    width: 220px;
  }
}
