.showTask-container {
  margin: 80px auto;
  max-width: 650px;
}

.showTask-container .showTask-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;

  border-bottom: 4px solid #38938a;
}

.showTask-container .showTask-head p {
  color: #145d5d;
  font-weight: bold;
}

.showTask-container .showTask-btn-add {
  background-color: #38938a;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.showTask-container .showTask-btn-clear {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #145d5d;
  font-weight: bold;
}

.showTask-container .showTask-body ul {
  width: 100%;
  background-color: var(--background);
  border-radius: 10px;
  border-bottom: 4px solid #38938a;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.showTask-container .showTask-body ul li {
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 20px;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showTask-container .showTask-body ul li:nth-last-child(1) {
  border: none;
}

.showTask-body .showTask-body-category {
  flex: 0.2;
}

.showTask-body .showTask-body-name {
  flex: 1;
  text-align: center;
}

.showTask-body .showTask-delete {
  flex: 0.1;
}

.showTask-body .showTask-edit {
  flex: 0.1;
  color: blue;
  cursor: pointer;
}

.showTask-body .showTask-delete .del {
  color: red;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .showTask-container {
    margin: 100px 20px;
  }
}

@media all and (max-width: 400px) {
  .showTask-container .showTask-head p {
    display: none;
  }

  .showTask-container .showTask-body ul li {
    font-size: 15px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .showTask-body .showTask-body-name {
    margin: 0 10px;
  }

  .showTask-body .showTask-body-category {
    transform: rotate(60deg);
    margin-left: 0;
    text-align: left;
  }

  .showTask-body .showTask-edit {
    margin-right: 10px;
  }
}
